p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book-summary {
  background-color: blue;
}

/*--- LOGO ---*/

.pulse-logo {
  width: 250px !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.pulse-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important; 
}

.header-name {
  margin-top: 1px;
  text-align:center;
}

.header-name h1 {
  margin: 0px;
}

.header-name h3 {
  margin: 0px;
}

/* HERO IMAGE */

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #00274C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image-container img {
  width: 100%;
}

.level1 {
  padding-top: 100px !important;
}